!!! html
%html
  %head
    %title Shopper
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    #header
      %h1= link_to "Shop'n'Drop", root_url
    
    - if flash[:notice].present?
      #notice= notice 

    = yield

